ion-toolbar{
  background-color: var(--ion-color-micolor);
}
ion-content{
  background-color: var(--ion-color-dark);
}
ion-card{
  background-color: var(--ion-color-micolor);
}
ion-item{
  background-color: var(--ion-color-micolor);
}
